@font-face {
  font-family: "BariolThin";
  src: url("./assets/fonts/bariol_thin-webfont.ttf");
}
@font-face {
  font-family: "BariolLight";
  src: url("./assets/fonts/bariol_light-webfont.ttf");
}
@font-face {
  font-family: "BariolRegular";
  src: url("./assets/fonts/bariol_regular-webfont.ttf");
}
@font-face {
  font-family: "BariolBold";
  src: url("./assets/fonts/bariol_bold-webfont.ttf");
}
