body {
  font-family: "BariolRegular", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  box-sizing: border-box;
}

a,
button {
  background-color: transparent;
  border: none;
  cursor: pointer !important;
}
